/* Name: Alyssa Yanez Olson */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* @import 
url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

#skip {
    padding: 8px;
    position: absolute;
    left: 50%;
    height: 30px;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

/*********************** HEADER STYLINGS *******/
    header {
        background: linear-gradient(to bottom, var(--teal), white);
        display: flex;
        flex-direction: column;
    }

    header #logo, 
    header nav {
        display: flex;
        align-items: center;
    }

    header #logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    header > #logo,
    header > #menu-toggle {
        order: -1;
    }

    header nav {
        position: relative;
        margin-left: 10px;
    }

    header h1, header p {
        margin: 0;
        text-align: left;
        max-width: 300px;
    }

    #logo, #menu-toggle {
        flex: 0 0 auto;
        align-items: center;
    }

    #logo {
        display: flex;
        flex: 1;
    }

    #toggle {
        display: none;
    }

    #menu-toggle {
        margin-left: auto;
        z-index: 1000;
        top: 0;
    }

    #menu-toggle label {
        display: inline-block;
        width: auto;
    }
    #menu-toggle ul {
        display: none;
        flex-direction: column;
        background-color: var(--teal);
        width: 100%;
        align-items: center;
        left: 0;
        position: absolute;
        z-index: 1000;
    }

    #toggle:checked + label + ul {
        display: flex;
    }

    label[for="toggle"] {
        background-color: var(--black);
        display: block;
        color: var(--white);
        padding: 10px;
        text-align: center;
        width: 100%;
        left: 0;
        position: relative;
        z-index: 1000;
    }

    #menu-toggle ul li a {
        background-color: var(--teal);
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    
    /* when menu closed on mobile */
    #menu-toggle label {
        background-color: var(--yellow);
        color: var(--black);
        width: 100px;
        top: 0px;
        z-index: 1000;
        right: 0;
    }

    /* when menu re-opened */
    #toggle:checked + label {
        background-color: var(--black);
        width: 100%;
        color: var(--white);
    }

  
h1, h2, h3 {
    font-family: 'Molle', cursive;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
}

header h1, header p {
    margin-left: 20px;
}

h4, p, small {
    font-family: "Montserrat", sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    display: inline-block;
    color: var(--black);
    background-color: var(--white);
}

  /******************* HEADER STYLING DONE  */

  /******************* INTRO STYLING ****************/
  #intro {
    margin: 20px;
  }

  #img-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    margin: 1rem auto;
    /* margin: auto; */
  }

  #img-grid img {
    width:300px;
    height: auto;
    object-fit: cover;
    display: block;
  }

/* PLAN SECTION */
#plan > div,  
#testimonials > div,
#about > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#plan {
    background-color: var(--yellow);
    padding: 2rem;
}

#plan h4 {
    padding: 10px;
}

#plan > div > section {
    background-color: var(--teal);
    border: 3px solid #FFFFFF;
    height: 250px;
    width: 300px;
    border-radius:5px;
    margin:5px;
    padding: 20px;
    flex: 1;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

/*************************** TESTIMONIALS SECTION */
#testimonials h3 {
    margin: 20px;
}

#testimonials {
    margin: 1rem auto;
    margin-bottom: 2px;
}

#testimonials h4 {
    font-weight: bold;
}

#testimonials img {
    margin-top: 5px;
}

#testimonials p {
    font-size: 13px;
    margin-bottom: 10px;
}

#testimonials > div {
    display: flex;
}

#testimonials q {
    width: 70%;
    font-size: 15px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

#testimonials q::before {
    content: '"';
}

#testimonials q::after {
    content: '"';
}


/**************************** ABOUT SECTION */

#about h3 {
    margin: 20px;
}

#about > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
}

#about > div > section img {
    width: 50px;
    height: auto;
    margin: 1rem auto;
}

#about {
    background-color: var(--blue);
    padding: 10px;
}

/**************************** CONTACT FORM SECTION */

#contact {
    padding: 10px;
}
#contact h4{
    margin: 20px;
}

form {
    font-family: "Montserrat", sans-serif;
}

.form-required {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: italic;
}

.required {
    color: #DE0B63;
}
#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact form input {
    border: 2px solid var(--purple);
    padding: 10px;
    display: block;
    width: 95%;
    align-items: center;
    margin: 2px;
}

/* not sure how to add purple border around */
/* .radio-input input[type="radio"] */
.radio-input input[type="radio"] {
    box-sizing: border-box;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--purple);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0;
}

.radio-input input[type="radio"]:checked {
    background-color: var(--purple);
}

#mySubmit {
    background-color: var(--purple);
    color: white;
    padding: 10px;
    margin: 5px;
    width: 90%;
}

footer {
    justify-content: space-between;
    background-color: #cccccc; 
    display: flex;
    padding: 20px;
    flex-direction: column;
}

button {
    font-family: "Montserrat", sans-serif;
    display: block;
    width: 95%;
}

/* STYLES ABOVE SHOULD MATCH 428PX SO I DIDN'T ADD THIS SECTION */
@media screen and (min-width: 768px) {
/* having trouble getting header and menu items to work. */
    header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        position: relative;
        margin: 0 auto;
        column-gap: 1rem;
        right: 0;
    }

    #logo {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    header h1 {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0;
    }

    header p {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0;
    }

    header nav {
        grid-column: 1 / -1;
        grid-row: 3/4;
        justify-content: center;
        margin-top: 1rem;
    }

    #menu-toggle input#toggle,
    #menu-toggle label[for="toggle"] {
        display: none;
    }

    #menu-toggle ul {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
    }

    #menu-toggle ul li a {
        border-bottom: none;
        background-color: var(--white);
        width: 100%;
        text-align: center;
        align-items: center;
    }

    /************************ INTRO STYLING  */

    #intro {
        padding: 2rem;
    }

    #intro p {
        line-height: 1.5;
        margin-bottom: 1rem;
    }
    /* got the first 2 images next to each other */
    #img-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    #img-grid img {
        display: block;
        width: 100%;
    }

    /* need to try and target the 3rd top image */
    #img-grid > picture {
        grid-column: 1 / -1;
        width: 100%;
    }
    /***********************/
    #plan > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center;
        text-align: center;
    }

    #plan > div > section {
        border-radius:10px;
    }

    /* images were scaling outside boxes */
    #plan > div > section img {
        object-fit: contain;
        width: 50%;
        height: auto;
    }

    #testimonials > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        text-align: center;
        justify-items: center;
    }

    #about > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 5px;
        padding: 5px;
    }

    #about > div section {
        max-width: 150px;
        box-sizing: border-box;
        align-items: center;
    }

    #about > div > section img {
        width: 90%;
        height: auto;
        margin: 1rem auto;
    }

    .form-group {
        width: 100%;
    }
    /* CONTACT FORM STYLING */
    #contact form {
        width: 100%;
        min-width: 600px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        /* align-items: center; */
        padding: 1rem;
    }

    #names, #nums, #selects {
        width: 100%;
        box-sizing: border-box;
        padding: 2rem;
    }

    footer {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1920px) {
    header {
        display: flex;
        /* align-items: center; */
        gap: 3rem;
    }

    header h1, header p {
        margin: 0;
        display: block;
        flex-direction: column;
        /* display: flex;
        flex-direction: column;  */
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    #names {
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }

    #intro {
        display: flex;
        gap: 5rem;
    }

    #intro  h2, #intro p {
        width: 50%;
    }

    #plan > div {
        display: flex;
        flex-direction: row;
    }
    #testimonials > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    #about > div {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 10px;
        padding: 10px;
    }

    #plan > div > section {
        background-color: var(--teal);
        border: 3px solid #FFFFFF;
        height: 300px;
        width: 500px;
        border-radius:5px;
        margin:5px;
        padding: 20px;
        flex: 1;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
    }

      #toggle {
        display: none;
    }

    label[for="toggle"] {
        display: none;
    }

    #contact form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    #contact form input {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

}